  .links {
    margin-top: 30%;
    padding: 1%;
    text-align: center;
    color:rgb(0, 0, 0); 
    font-family: Gotham;
    font-size: 30px;
    display: flex;
    justify-content: center;
  } 

  .example-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
    margin-right: 300px;
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 7s;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 20%;
    height: 70px;
  }
  .example-1:hover {
    background-image: (to right, #1f4037, #99f2c8)
  }

  .example-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #108dc7, #ef8e38);
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 8s;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 20%;
    height: 70px;
  }
  .example-2:hover {
    background-image: (to left, #000000, #ff8a00)
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      visibility: hidden;
    }
  
    to {
      opacity: 1;
      visibility: visible;
    }
  }





  p {
    color:aliceblue; 
    font-family: Gotham;
    text-align: center;
  }

  
  .typing-demo {
    width: 39ch;
    animation-name: typing;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 7s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: Gotham;
    font-size: 40px;
    color: rgb(0, 0, 0);
    opacity: 0; 
    animation-fill-mode: forwards;

  }

  .wrapper {
    display: flex;
    justify-content: center;
    margin: -20%;
  }
  
  
  @keyframes typing {
    from {
      width: 0;
      opacity: 0;
      visibility: hidden;
    }

    to {
      width: 40ch;
      opacity: 1;
      visibility: visible;
    }

  }


  img {
    padding: 50px;
  }

  #ava {
    vertical-align: middle;
  }

  body {
    text-align: center;
    overflow:  auto;
  }
  
  
  h1 {
    font-family: Gotham; font-style: Bold; 
    animation: myAnim 1s ease-in 5s 1 normal forwards;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;

  }

  @keyframes myAnim {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  .urls {
    position: fixed;
    bottom: 0;
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
  }
