  
  /* MAIN */
  
  .links {
    margin-top: 30%;
    padding: 1%;
    text-align: center;
    color:rgb(255, 255, 255); 
    font-family: Gotham;
    font-size: 30px;
    display: flex;
    justify-content: center;
  } 

  .example-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 300px;
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 7s;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 20%;
    height: 70px;
    transition: background-image 0.3s ease;
    border: 1px;
  }

  .example-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 8s;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 20%;
    height: 70px;
    transition: background-image 0.3s ease;
    border: 1px;
  }
 
  
  @keyframes appear {
    from {
      opacity: 0;
      visibility: hidden;
    }
  
    to {
      opacity: 1;
      visibility: visible;
    }
  }





  p {
    color:aliceblue; 
    font-family: Gotham;
    text-align: center;
    text-decoration: none;
  }

  
  .typing-demo {
    width: 39ch;
    animation-name: typing;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 7s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: Gotham;
    font-size: 40px;
    color: rgb(0, 0, 0);
    opacity: 0; 
    animation-fill-mode: forwards;

  }

  .wrapper {
    display: flex;
    justify-content: center;
    margin: -20%;
  }
  
  
  @keyframes typing {
    from {
      width: 0;
      opacity: 0;
      visibility: hidden;
    }

    to {
      width: 40ch;
      opacity: 1;
      visibility: visible;
    }

  }


  img {
    padding: 50px;
  }

  #ava {
    vertical-align: middle;
  }

  body {
    text-align: center;
    overflow:  auto;
  }
  
  
  h1 {
    font-family: Gotham; font-style: Bold; 
    animation: myAnim 1s ease-in 5s 1 normal forwards;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;

  }

  @keyframes myAnim {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  .urls {
    position: fixed;
    bottom: 0;
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
  }



  /* ARTICLES */

  .Article {
    font-family: Gotham;
    font-size: 40px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin: 10%;
    animation-name: appear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 1s;
  }



  .description {
    font-family: Source Code Pro;
    font-size: 15px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin: 0%;
    margin-left: 1%;
  }

  #approx {
    font-family: Source Code Pro;
    font-size: 15px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin: 0%;
    margin-left: 8%;
  }

  #other {
    margin-left: -8%;
  }

  #other_d {
    font-family: Source Code Pro;
    font-size: 15px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin: 0%;
    margin-left: -12%;
  }
  a {
    text-decoration: none;
    
  }